.search-products {
  color: white;
}

.col-left {
  width: 20%;
  display: inline-block;
  color: white;
  vertical-align: top;
}

.col-right {
  width: 80%;
  display: inline-block;
}

.descriere-cautare {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
.categoriee {
  text-decoration: none;
  font-size: 20px;
  color: white;
  line-height: 42px;
  font-weight: lighter;
  text-decoration: none;
}

.titlu-categorii {
  margin: 10px;
  color: white;
}
